body{
    font-family: 'Roboto', sans-serif;
    background-color: azure;
}

.container {
    margin: 100px auto;
    width: 80%;
    padding: 10px 0px;
}

.container > h2{
    margin: 10px 0px;
}

#login-form{
    display: flex;
    flex-direction: column;  
}

#checkbox{
    display: flex;
    justify-content: space-around;
}

#login-form > input{
    padding: 0 10px;
    margin: 5px 0;
    height: 30px;
    border: none;
    background-color:rgb(206, 232, 255);
    border-radius: 10px;
}

#login-form > input[type="submit"]{
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    background-color:rgba(154, 210, 232, 0.8);
}


@media (min-width: 576px) {
    .container {
        margin: 100px auto;
        width: 40%;
        padding: 10px 0px;
    }
}
