html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

#menu{
    position: relative; 
    display: block; 
    background-color: rgb(1, 85, 118);
    padding: 0px; 
    color: rgba(216, 216, 216, 1);

}

#menu > a >h2{
    font-size: 20px;
    text-align: center;
    color: rgba(216, 216, 216, 1);
    margin: 3px 0 20px 0;
}

#menu > div{
    text-align: center;
    padding: 0 15px;
    color: rgba(216, 216, 216, 1);
}

#menu > div > li:last-child{
    border-bottom: 1px solid rgba(152, 152, 152, 0.3);
    padding-bottom: 10px;
}

#menu > div:nth-child(3){
    margin-top: 20px;
}

#menu li a{
    padding: 4px 8px;
    color: rgba(216, 216, 216, 1);

}

#menu > div > b > a {
    color: rgba(216, 216, 216, 1);
    padding: 5px 0;
}

#menu > a > img{
    width: 100px;
    display: block;
    margin: 20px auto 0;
}

#btn1 {
    background: transparent;
    border: transparent;
}

.container{
    position: relative;
    height: 50%;
    width: 100%;
    margin: 20px auto;
}

.container > h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    text-align: center;
    margin: 10px;
}


/* mainpage */
.container > .userInfo {
    font-size: medium;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 30px auto;
}

.container > form {
    display: flex;
    background-color: rgba(100, 132, 138, 0.343);
    padding: 20px;
}

.container > form > select{
    border-radius: 8px;
    margin-right: 10px;
}

/* withdrawl.ejs */
.container > #withdrawl {
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.container > #withdrawl > button{
    margin: 10px auto;
    width: 50%;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    height: 30px;
}

/* modifypage */
.container > .userInfo > input{
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    height: 25px;
    padding: 0 0 0 7px;
}

.container> .userInfo > #doubleChk{
    display: inline;
}

.container > .userInfo > #doubleChk > #alertChk{
    opacity: 0.8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0px 0px 0px 20px;
}

.container > .userInfo > b {
    font-size: large;
}

.container > .userInfo > li {
    margin: 10px 0px 50px 0;
}

.container > .userInfo > button {
    background:rgb(13, 97, 31);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    color:white
}

.container > #popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.container > #popup > #passwordChk{
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 30%;
    border-radius: 5px;
    text-align: center;
    background: #fff;
}

.container > #popup > #passwordChk > h2{
    color: #fff;
    margin : 0;
    
    border-bottom: 1px solid gray;
    background: darkseagreen;
    padding: 10px 0 10px 0;
}

.container > #popup > #passwordChk > form > input{
    margin-bottom: 10px;
    height: 20px;
    width: 50%;
    padding: 0 4px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}

.container > #popup > #passwordChk > form > button{
    border-radius: 4px;
    background-color: rgb(46 206 61 / 48%);
    height: 25px;
    border: none;
}

.container > #popup > #passwordChk  > button{
    border-radius: 4px;
    background-color: rgb(255 163 163);
    width: 40%;
    height: 25px;
    border: none;
}

/* mylocker */
.container > #mylocker{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 30px auto;
}

table{
    border: none;
    border-collapse: collapse;
}

#users > thead > tr:first-child{
    height: 50px;
    text-align: left;
    background-color: rgba(100, 132, 138, 0.343);
}

#users > thead > tr > th:nth-child(1){
    padding-left: 10px;
}

#users > tbody > tr > td:nth-child(1){
    padding-left: 10px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)!important;
}

td{
    padding: 10px 0;
}

.container > #mylocker > form{
    padding: 10px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container > #mylocker > #control{
    padding: 10px 10px;
    float: right;
    height: auto;
    display: flex;
    border: none!important;
    margin-left: auto;
}

.container > #mylocker > #control > button{
    margin: 0 2px;
    background:rgba(13, 97, 31, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    color:white
}

.search{
    height: 35px;
    width: 400px;
    border-radius: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    background-color: #fff;
    font-family: Roboto;
}

#search-bar{
    padding: 6px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

#search-input{
    position: relative;
    background-color: #fff;
    padding: 0 11px 0 10px;
    text-overflow: ellipsis;
    width: 80%;
    border: none;
}

#search-input:focus{
    border-color: #4d90fe;
}

#search-bar button img{
    width: 55%;
    color: darkblue;
}

.controller{
    position: relative;
    float: right;
    height: 50%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

form .search{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

li {
    width: 100%;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
#body{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    z-index: 0;
}

@media (hover:hover){
    #menu li:hover a{
        color: black;
        border-radius: 3px;
    }

    #welcome:not(#menu):hover a{
        background-color: transparent;
        border: none;
    }
    
    #welcome:hover > #userMenu{
        display: block;
        background-color: transparent;
    }
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {    
    .container {width:70%; float: left; z-index: 0; padding: 20px;}
    .controller {float: right; width: 30%; height: 100%;}
    #menu{
        width: 15%;
        left: 0px;
        height: 100%;
        margin-top: 0;
    }
    #menu > div:nth-child(3){
        margin-top: 100px;
    }
    #menu li a{padding: 5px 5px;}
    #welcome{
        width: 70%;
        margin: 0px 0px 0px auto;
    }
    #welcome:hover > #userMenu{
        display: block;
        background-color: darkseagreen;
        border-radius: 3px;
        opacity: 0.9;
    }
    #welcome:not(#menu):hover a{
        background-color: transparent;
        border: none;
    }
    #hamburger:checked + label +#menu {display: flex;}
    #hamburger + label{display: none;}
    #body {flex-direction: row; height: 90%; margin-top: 0;}
    #ul1{height: 50px;}
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}
