html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.header{
    height: 55px;
    position: fixed;
    z-index: 1;
    background: darkseagreen;
    width: 100%;
}

.header .navbar{
    position: relative;
    float: left;
    margin: 8px 20px 10px 20px;
}

#menu{
    position: relative; 
    display: block; 
    background-color: transparent; 
    right: 0; 
    padding: 0px 4px; 
}

#menu > h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#menu > div{
    text-align: center;
}

#menu > div:nth-child(3){
    margin-top: 20px;
}

#menu li a{
    padding: 4px 8px;
    color: gray;
}

#menu > div > b > a {
    color: black;
}

#menu li:hover a{
    color: black;
    border-radius: 3px;
}

.header > #menu{
    position: fixed;
    z-index: 1;
    padding: 60px 20px 20px 20px;
    transition: all 400ms;
    width: 20%;
    right: -300px;
    top: 0px;
    height: 90%;
    background-color: rgba(154, 210, 232, 0.8);
    margin-top: 0;
}

.header #menu li a{
    color: #fff;
}

#welcome{
    display: inline-block;
    position: relative;
}

#welcome:not(#menu):hover a{
    background-color: transparent;
    border: none;
}

#welcome:hover > #userMenu{
    display: block;
    background-color: transparent;
}

#userMenu{
    width: 100%;
    display: none;
    position: absolute;
    z-index: 2;
}

#userMenu li{
    display: block;
}

#userMenu:not(#menu) li a{
    text-align: center;
}

#hamburger{
    display: none;
}

#hamburger + label{
    z-index: 2;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

#hamburger + label>span{
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    background: black;
    border-radius: 5px;
    transition: all 400ms;
}

#hamburger:checked + label>span:nth-child(1){
    top:50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
}

#hamburger + label>span:nth-child(2){
    top:50%;
    transform: translate(0, -50%);
}

#hamburger:checked + label>span:nth-child(2){
    display: none;
}

#hamburger + label>span:nth-child(3){
    bottom: 0;
}

#hamburger:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }

#hamburger:checked + label +#menu{
    display: block;
    right: 0px;
}


#btn1 {
    background: transparent;
    border: transparent;
}

.header .navbar img{
    width: 100px;
}

.container{
    position: relative;
    height: 50%;
    width: 100%;
}

.container > h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
}


/* mainpage */
.container > .userInfo {
    font-size: medium;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 30px auto;
}

.container > form {
    font-size: medium;
    display: flex;
    flex-direction: column;
    width: 35%!important;
    margin: 30px auto;
}


/* withdrawl.ejs */
.container > #withdrawl {
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.container > #withdrawl > button{
    margin: 10px auto;
    width: 50%;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    height: 30px;
}

/* modifypage */
.container > .userInfo > input{
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    height: 25px;
    padding: 0 0 0 7px;
}

.container> .userInfo > #doubleChk{
    display: inline;
}

.container > .userInfo > #doubleChk > #alertChk{
    opacity: 0.8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0px 0px 0px 20px;
}

.container > .userInfo > b {
    font-size: large;
}

.container > .userInfo > li {
    margin: 10px 0px 50px 0;
}

.container > .userInfo > button {
    background:rgb(13, 97, 31);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    color:white
}

.container > #popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.container > #popup > #passwordChk{
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 30%;
    border-radius: 5px;
    text-align: center;
    background: #fff;
}

.container > #popup > #passwordChk > h2{
    color: #fff;
    margin : 0;
    
    border-bottom: 1px solid gray;
    background: darkseagreen;
    padding: 10px 0 10px 0;
}

.container > #popup > #passwordChk > form > input{
    margin-bottom: 10px;
    height: 20px;
    width: 50%;
    padding: 0 4px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}

.container > #popup > #passwordChk > form > button{
    border-radius: 4px;
    background-color: rgb(46 206 61 / 48%);
    height: 25px;
    border: none;
}

.container > #popup > #passwordChk  > button{
    border-radius: 4px;
    background-color: rgb(255 163 163);
    width: 40%;
    height: 25px;
    border: none;
}

/* mylocker */
.container > #mylocker{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 30px auto;
}

.container > #mylocker > div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}

.container > #mylocker > form{
    padding: 10px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container > #mylocker > form > div{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.container > #mylocker > #control{
    padding: 10px 10px;
    float: right;
    height: auto;
    display: flex;
    border: none!important;
    margin-left: auto;
}

.container > #mylocker > #control > button{
    margin: 0 2px;
    background:rgba(13, 97, 31, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    color:white
}

.container > #mylocker > form > div > div:nth-child(1){
    margin-right: 10px;
}

.search{
    float: right;
    position: fixed;
    z-index: 1;
    left: 130px;
    height: 35px;
    margin: 11px 20px 0px 5px;
    width: 40%;
    border-radius: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#search-bar{
    padding: 6px;
    position: relative;
    display: flex;
    justify-content:space-between;
}

#search-input{
    position: relative;
    background-color: #fff;
    padding: 0 11px 0 10px;
    text-overflow: ellipsis;
    width: 80%;
    border: none;
}

#search-input:focus{
    border-color: #4d90fe;
}

#search-bar button img{
    width: 55%;
    color: darkblue;
}

.controller{
    position: relative;
    float: right;
    height: 50%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

form .search{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

li {
    width: 100%;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
#body{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    z-index: 0;
    margin: 55px 20px;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {    
    .container {width:70%; height: 100%; float: left; z-index: 0;padding: 60px 40px 0px 40px;}
    .controller {float: right; width: 30%; height: 100%;}
    .header {position: sticky; top: 0; height: 55px; display: flex; z-index: 2; flex-wrap: wrap;}
    .header #menu{position: relative; display: flex; margin: 15px 10px 15px auto; background-color: transparent; right: 0; padding: 0px 4px; height: 28px;}
    .header .navbar{position: relative; }
    .header .search{position: relative; left: 0;}
    #menu{
        padding-top: 60px;
        width: 15%;
        left: 0px;
        height: 90%;
        margin-top: 0;
    }
    #menu > div:nth-child(3){
        margin-top: 100px;
    }
    #menu li a{padding: 5px 5px;}
    #welcome{
        width: 70%;
        margin: 0px 0px 0px auto;
    }
    #welcome:hover > #userMenu{
        display: block;
        background-color: darkseagreen;
        border-radius: 3px;
        opacity: 0.9;
    }
    #welcome:not(#menu):hover a{
        background-color: transparent;
        border: none;
    }
    #hamburger:checked + label +#menu {display: flex;}
    #hamburger + label{display: none;}
    #body {flex-direction: row; height: 90%; margin-top: 0;}
    #ul1{height: 50px;}
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}
