<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../../../css/mypage.css">
    <title>맡겨줘-내 정보</title>

</head>
<body>
    <%-include("../../common/header.ejs")%>
    <div id="body">
        <%- include("../menu.ejs") %>
        <div class="container">
            
            <h2>즐겨찾는 보관함</h2>
            <ul id="mylocker">
                <script>
                    let _list =  "<%=JSON.stringify(list)%>";
                    _list = _list.replaceAll('&#34;','\"');
                    _list = JSON.parse(_list);
                </script>
                <div>
                    <input type="checkbox" id="all" name="locker"  onclick="selectAll(this)">
                    <b>
                        전체 선택 
                    </b>
                </div>
                <form method="post" name="" id="lockerlist">
                    
                </form>
                <div id="control">
                    <button type="submit" form="lockerlist" onclick="saveLocal()">삭제</button>
                    <button onclick="location.href='/'">추가하기</button>
                </div>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="../../../js/favorites.js"></script>

</body>
</html>