<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../../../css/mypage.css">
    <title>맡겨줘-내 정보</title>
</head>
<body>
    <%-include("../../header.ejs")%>
    <div id="body">
        <%- include("../menu.ejs") %>
        <div class="container">
            <h2>내가 등록한 보관함</h2>
            <ul id="mylocker">
               
                    <% for(let i = 0;i < mylocker.length ;i++) {%>
                    <li><%= mylocker[i].stationName %></li>
                    <% } %>
                
            </ul>
        </div>
    </div>

</body>
</html>