<div class="header">
    <a class="navbar" href="/"><img src="/img/logo4.png" alt=""></a>
    <div class="search">
        <form onsubmit="searchPlaces(); return false">
            <div id="search-bar">
                <input id="search-input" type="search" placeholder="위치를 검색하세요." value="">
                <button id="btn1" type="submit"><img src="/img/001-search.png" alt="Search"></button>
            </div>
        </form>
    </div>
</div>