<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=appkey%>&libraries=services"></script>
    <title>맡겨줘</title>
</head>
<body>
    <%- include("./common/header.ejs") %>
    <div id="body">
        <div class="map-container">
            <div id="map"></div>
            <button id="currentPos"><img src="img/target.png" alt=""></button>
            <form action="/routes/locker" method="post">
                <button id="test" name="foo" value="post"><img src="img/010-shield.png" alt=""></button>
            </form>
            <script>
                var _list =  "<%=JSON.stringify(list)%>";
                _list = _list.replaceAll('&#34;','\"');
                _list = JSON.parse(_list);

                var user = "<%=JSON.stringify(user)%>"
                user = user.replaceAll('&#34;','\"');
                user = JSON.parse(user);

                var _fav = user?user.favorites:null;
                
            </script>
        <script type="text/javascript" src="js/map.js"></script>
        </div>
        <div class="controller">
            <ul id="ul1">
                <li><a href="/" id="home">주변보관함 정보</a></li>
            </ul>
            <ul id="placesList">
            </ul>
            <div id="pagination"></div> 
        </div>
    </div>

</body>
</html>