<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=appkey%>&libraries=services"></script>
    <title>맡겨줘</title>
</head>
<body>
    <div class="header">
        <a class="navbar" href="/"><img src="img/logo4.png" alt=""></a>
        <div class="search">
            <form onsubmit="searchPlaces(); return false">
                <div id="search-bar">
                    <input id="search-input" type="search" placeholder="위치를 검색하세요." value="">
                    <button id="btn1" type="submit"><img src="img/001-search.png" alt="Search"></button>
                </div>
            </form>
        </div>
            <input type="checkbox" id="hamburger">
            <label for="hamburger">
                <span></span>    
                <span></span>    
                <span></span>
            </label>
            <ul id="menu">
                <% if(user !== null){ %>
                        <li id="welcome">
                            <a href="routes/user/index"><%=user.name%>님</a>
                            <ul id="userMenu">
                                <li><a href="routes/user/index">내 정보</a></li>
                                <li><a href="routes/add">추가하기</a></li>
                                <%if(manager){%>
                                    <li><a href="routes/manage">관리</a></li>
                                <%}%>
                                <li><a href="routes/logout">로그아웃</a></li>
                                
                            </ul>
                        </li>
                <%}else{%>
                    <li id="login"><a href="routes/login">로그인</a></li>
                    <li id="register"><a href="routes/register">회원가입</a></li>
                <%}%>
            </ul>
        <script>
            let menu = document.getElementById("menu")
            let hamburger = document.getElementById("hamburger");
            let label = document.querySelector('label[for="hamburger"]')
            document.addEventListener('click',(e)=>{
                const target = e.target;
                if(target === hamburger || hamburger.contains(target)){
                    e.preventDefault();
                }
                else if(target === label || label.contains(target)){
                    hamburger.checked = !hamburger.checked
                }else if(!menu.contains(target)){
                    hamburger.checked = false;
                }
            })
        </script>
    </div>
    <div id="body">
        <div class="map-container">
            <div id="map"></div>
            <button id="currentPos"><img src="img/target.png" alt=""></button>
            <form action="/routes/locker" method="post">
                <button id="test" name="foo" value="post"><img src="img/010-shield.png" alt=""></button>
            </form>
            <script>
                var _list =  "<%=JSON.stringify(list)%>";
                _list = _list.replaceAll('&#34;','\"');
                _list = JSON.parse(_list);
            </script>
        <script type="text/javascript" src="js/map.js"></script>
        </div>
        <div class="controller">
            <ul id="ul1">
                <li><a href="/" id="home">주변보관함 정보</a></li>
            </ul>
            <ul id="placesList">
            </ul>
            <div id="pagination"></div> 
        </div>
    </div>

</body>
</html>