<ul id="menu">
    <a class="navbar" href="/"><img src="/img/logo4.png" alt=""><h2>관리자페이지</h2></a>
    <div>
        <li><img src="/img/group.png" alt="Search"><b><a href="/routes/manage">회원관리</a></b></li>
    </div>
    
    <div>
        <li><img src="/img/012-locker-room.png" alt="Search"><b><a href="/routes/manage/locker">보관함관리</a></b></li>
    </div>

    <div>
        <li><img src="/img/question.png" alt="Search"><b><a href="/routes/manage/qna">문의</a></b></li>
    </div>
</ul>